.container {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.125rem;
  /* background-color: red; */
  border-bottom: 1px solid #21262d;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* background-color: blue; */
  border-bottom: 1px solid #21262d;
}

.logotype {
  font-family: "Panchang-Variable";
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 2.5rem;
}
