.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  width: 2.875rem;
  height: 2.875rem;
  border: 0;
  border-radius: 0.875rem;
}

.container:hover {
  background-color: var(--site-item-hover);
  cursor: pointer;
}

.container svg {
  fill: var(--site-main-text);
}

@media (max-width: 830px) {
  .container {
    height: 50px;
    width: 50px;
  }
}
