.container {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8.125rem;
  border-bottom: 1px solid var(--section-borders);
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--section-borders);
}

.logotype {
  font-family: "Panchang-Variable";
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 2.5rem;
}

.logotypeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.logotypeContainer:hover {
  cursor: pointer;
}

.logotypeImage {
  height: 2.5rem;
  width: 100%;
  border: 0;
  animation: gradientAnimation 30s ease infinite;
  background: linear-gradient(
    124deg,
    #612df6,
    #2be78a,
    #1442b8,
    #19ee84,
    #00e1f6,
    #7000ff,
    #06f99f,
    #1442b8,
    #19ee84
  );
  background-size: 600% 600%;
  mask: url("/images/index/logotype.svg") 0 0 / contain no-repeat;
  user-select: none;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 5.125rem;
    margin-top: 1rem;
  }

  .navigation {
    justify-content: space-around;
  }

  .logotypeContainer {
    height: unset;
  }

  .displayModeButtonContainer {
    display: none;
  }
}
