.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem;
  border-top: 1px solid var(--section-borders);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.memojiContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  /* background-color: wheat; */
}

.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1.5rem;
  /* background-color: turquoise; */
}

.header {
  margin-bottom: 1rem;
  /* background-color: violet; */
}

.subheader {
  color: var(--site-sub-text);
  font-size: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.formContainer {
  width: 100%;
  border: 1px solid var(--section-borders);
  border-radius: 1.75rem;
  /* background-color: tomato; */
}

.formWrapper {
  /* background-color: thistle; */
}

.mobileMenuWrapper {
  display: none;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  /* background-color: yellowgreen; */
}

.form {
  display: grid;
}

.emailField {
  background-color: transparent;
  border: none;
  height: 4.5rem;
  padding: 1.5rem;
  font-size: 1rem;
  outline: none;
  color: var(--site-main-text);
  border-bottom: 1px solid var(--section-borders);
}

.inquiryField {
  background-color: transparent;
  border: none;
  height: 6rem;
  padding: 1.5rem;
  font-size: 1rem;
  outline: none;
  color: var(--site-main-text);
  resize: none;
  font-family: "Inter", sans-serif;
  line-height: 1.5rem;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.submitButtonInactive {
  background-color: transparent;
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 0.875rem;
  color: var(--site-main-text);
  font-weight: 500;
  font-size: 1rem;
  cursor: not-allowed;
  user-select: none;
  opacity: 0;
}

.submitButtonActive {
  background-color: transparent;
  border: 1px solid var(--section-borders);
  padding: 1rem 1.5rem;
  border-radius: 0.875rem;
  color: var(--site-main-text);
  font-weight: 500;
  font-size: 1rem;
  opacity: 1;
  cursor: pointer;
}

.wordcount {
  font-size: 1rem;
  padding: 0 1rem;
  font-family: monospace;
  user-select: none;
}

.emailField::placeholder,
.inquiryField::placeholder {
  color: var(--site-main-ph-text);
}

@media (max-width: 970px) {
  .container {
    padding: 4rem 0;
  }

  .formWrapper {
    width: 100%;
  }

  .mobileMenuWrapper {
    display: block;
    width: 100%;
    position: relative;
  }

  .mobileMenu {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

  .buttonsContainer {
    display: none;
  }

  .mobileMenu {
    width: 100%;
    font-size: 0.95rem;
    padding: 1rem;
    border-radius: 0.865rem;
    border: 1px solid var(--section-borders);
    margin-bottom: 2rem;
    background-color: transparent;
    color: var(--site-main-text);
  }

  .mobileMenuIcon {
    position: absolute;
    top: 0.85rem;
    right: 0.85rem;
  }
}
