.button {
  border: 1px solid var(--section-borders);
  background-color: transparent;
  color: var(--site-main-text);
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  margin: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  line-height: 1.5rem;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: var(--site-item-hover);
}

.selectedButton {
  background-color: var(--section-borders);
  cursor: default;
  box-sizing: border-box;
}
