.button {
  border: 1px solid #21262d;
  background-color: transparent;
  color: #98a3b3;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  margin: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.selectedButton {
  color: #ffffff;
  background-color: #21262d;
}
