.container {
  display: grid;
  grid-template-columns: 1fr auto;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin-bottom: 0.75rem;
  user-select: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.container:hover {
  cursor: pointer;
}

.container:hover .countContainer {
  color: var(--chip-background-hover);
  background-color: var(--chip-text-hover);
}

.container:hover .nameContainer {
  opacity: 0.95;
}

.nameContainer {
  display: flex;
  align-items: center;
}

.countContainer {
  background-color: var(--borders);
  border-radius: 6.25rem;
  padding: 0.25rem 1rem;
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: 600;
}
