.headerContainer {
  border-bottom: 1px solid var(--section-borders);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.searchBarItemContainer {
  display: flex;
}

.searchBarItemButton {
  margin: 0;
  padding: 0;

  border: 1px solid var(--section-borders);
  background-color: transparent;
  color: var(--site-main-text);
  padding: 0.5rem 1.25rem;
  border-radius: 100px;
  font-weight: 400;
  font-size: 0.85rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  line-height: 1.5rem;

  display: flex;
  align-items: center;
}

.searchBarItemButton:not(:last-child) {
  margin-right: 0.5rem;
}

.searchBarItemButtonIcon {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.searchIconWrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.searchInputField {
  background-color: transparent;
  color: var(--site-main-bg);
  padding: 0.75rem 1.25rem;
  border: 0;
  border: 1px solid var(--section-borders);
  border-radius: 0.75rem;
  width: 100%;
  font-size: 0.85rem;
}

.searchInputField::placeholder {
  color: var(--site-main-ph-text);
  font-family: "Inter", sans-serif;
}

.bodyContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  min-height: 100vh;
}

.sidebarContainer {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-width: 14rem;
  border-right: 1px solid var(--section-borders);
}

.sidebarTitle {
  font-family: "Panchang-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1.25rem 0;
}

.contentContainer {
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato; */
}

.contentTitle {
  font-family: "Panchang-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 1.25rem 0;
  margin-left: 1rem;
}
