.headerContainer {
  border-bottom: 1px solid var(--section-borders);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.searchBarItemContainer {
  display: flex;
}

.filterItemButton {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px solid var(--section-borders);
  background-color: transparent;
  color: var(--theme-main-text);
  padding: 0.5rem 1.25rem;
  border-radius: 100px;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  line-height: 1.5rem;
}

.filterItemButton:not(:last-child) {
  margin-right: 0.5rem;
}

.filterItemButtonSelected {
  background-color: var(--section-borders);
  box-sizing: border-box;
}

.searchBarItemButtonIcon {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.filterIconWrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-left: 0.75rem;
}

.searchIconWrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.clearIconWrapper {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.clearIconWrapper:hover {
  cursor: pointer;
  opacity: 0.95;
}

.searchInputField {
  background-color: transparent;
  color: var(--theme-bg);
  padding: 0.75rem 1.25rem;
  border: 0;
  border: 1px solid var(--section-borders);
  border-radius: 0.75rem;
  width: 100%;
  font-size: 1rem;
}

.searchInputField::placeholder {
  color: var(--theme-main-ph-text);
  font-family: "Inter", sans-serif;
}

.bodyContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  min-height: 100vh;
}

.sidebarContainer {
  min-width: 14rem;
  border-right: 1px solid var(--section-borders);
}

.sidebarTitle {
  font-family: "Panchang-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-top: 2.3rem;
  margin-bottom: 1.25rem;
}

.tagListContainer {
  padding-right: 1.5rem;
}

.contentContainer {
}

.contentHeaderContainer {
  margin-top: 2.3rem;
  margin-left: 1.3rem;
  margin-bottom: 1.25rem;
}

.contentTitle {
  font-family: "Panchang-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-bottom: 0.65rem;
}

.contentSubheader {
  font-size: 1rem;
  color: var(--theme-sub-text);
}

.resultsListContainer {
  margin-top: 2rem;
  margin-left: 1.3rem;
}

.resultsListHeader {
  color: var(--theme-sub-text);
  border-bottom: 1px solid var(--section-borders);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
}

.emptyContentContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
