.container {
  border-top: 1px solid var(--borders);
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Panchang-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-text);
}

.contentContainer {
  padding: 0.5rem 0;
}

@media (max-width: 767.98px) {
  .titleContainer {
    padding-bottom: 0;
    font-size: 0.65rem;
  }
}
