.container {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--main-text);
}

.title:hover {
  text-decoration: underline;
  opacity: 0.95;
}

.date {
  margin-bottom: 1rem;
  color: var(--main-text);
}

.excerpt {
  font-size: 1rem;
  line-height: 1.55rem;
  color: var(--sub-text);
  margin-right: 4rem;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .date {
    font-size: 0.85rem;
  }

  .excerpt {
    font-size: 0.9rem;
    line-height: 1.35rem;
  }

  .excerpt {
    margin-right: 0;
  }
}
