.container {
  margin-bottom: 2rem;
  padding: 1.25rem;
  border: 1px solid #21262d;
  border-radius: 0.865rem;
}

.container:hover {
  background-color: #21262d;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.container:hover .headerSectionContainer {
  border-color: #101215;
}

.container:hover .tagChip {
  background-color: #101215;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
}

.excerpt {
  font-size: 1rem;
  line-height: 1.55rem;
  color: #98a3b3;
}

.headerSectionContainer {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #21262d;
  padding-bottom: 1.5rem;
}

.headerContainer {
  display: flex;
}

.appIconContainer {
  display: flex;
  justify-content: space-around;
  margin-right: 0.75rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tagList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.tagChip {
  margin: 0;
  margin-right: 0.75rem;
  list-style-type: none;
  background-color: #21262d;
  padding: 0.25rem 0.65rem;
  border-radius: 6.25rem;
  font-family: "Inter";
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}
