.container {
  margin-bottom: 2rem;
  padding-right: 12.25rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.25rem;
}

.excerpt {
  font-size: 1rem;
  line-height: 1.55rem;
  color: #98a3b3;
}

.headerSectionContainer {
  margin-bottom: 1rem;
}

.headerContainer {
  display: flex;
}

.appIconContainer {
  display: flex;
  justify-content: space-around;
  margin-right: 0.75rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tagList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.tagChip {
  margin: 0;
  margin-right: 0.75rem;
  list-style-type: none;
  border: 1px solid;
  border-color: #ffffff24;
  padding: 0.25rem 0.65rem;
  border-radius: 6.25rem;
  font-family: "Inter";
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}
