.container {
  padding: 1.25rem;
  border: 1px solid var(--section-borders);
  border-radius: 0.865rem;
}

.container:hover {
  background-color: var(--site-item-hover-alpha);
  cursor: pointer;
}

.container:hover .headerSectionContainer {
  border-color: var(--section-borders);
  color: var(--site-main-text);
}

.container:hover .tagChip {
  background-color: var(--site-chip-bg-hover);
  color: var(--site-chip-text-hover);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
}

.excerpt {
  font-size: 1rem;
  line-height: 1.55rem;
  color: var(--site-sub-text);
}

.headerSectionContainer {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--section-borders);
  padding-bottom: 1.5rem;
  color: var(--site-main-text);
}

.headerContainer {
  display: flex;
}

.appIconContainer {
  display: flex;
  justify-content: space-around;
  margin-right: 1.5rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tagList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.tagChip {
  margin: 0;
  margin-right: 0.5rem;
  list-style-type: none;
  background-color: var(--site-chip-bg);
  color: var(--site-main-text);
  padding: 0.25rem 0.65rem;
  border-radius: 6.25rem;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}

@media (max-width: 767.98px) {
  .container {
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

  .excerpt {
    font-size: 0.9rem;
    line-height: 1.35rem;
  }

  .headerSectionContainer {
    align-items: center;
  }

  .headerSectionContainer {
    margin-bottom: 1rem;
    padding-bottom: 1.25rem;
  }

  .appIconContainer {
    height: 48px;
    width: 48px;
    margin-right: 1.25rem;
  }

  .tagChip {
    font-size: 0.55rem;
  }
}
