.button {
  border: 0;
  padding: 0;
  margin-bottom: 2rem;
  background-color: transparent;
  color: #efefef;
  font-family: "Inter";
  font-size: 0.95rem;
  font-weight: 500;
  opacity: 0.85;
  cursor: pointer;
  border-radius: 0.865rem;
  border: 1px solid #98a3b328;
  padding: 0.75rem 1rem;
}

.button:hover {
  opacity: 1;
  background-color: #98a3b328;
  border-color: transparent;
}
