.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.headerContainer {
  display: grid;
  grid-template-rows: 1rem auto;
}

.headerContainer img {
  height: 0.85rem;
  width: 0.85rem;
}

.headerContainer svg {
  fill: var(--green-main);
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  padding-left: 0.35rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--site-sub-text);
}

.trackInfoContainer {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  padding-top: 0.65rem;
}

.artworkWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  min-width: 3.125rem;
  min-height: 3.125rem;
}

.artworkWrapper img {
  z-index: 1;
  border-radius: 0.5rem;
}

.artworkWrapper svg {
  z-index: 3;
  fill: var(--white);
}

.artworkWrapper:hover {
  cursor: pointer;
}

.playPauseContainer {
  z-index: 2;
  background-color: #10121545;
  position: absolute;
  max-height: 48px;
  max-width: 48px;
  border-radius: 0.5rem;
}

.missingArtworkContainer {
  height: 3.125rem;
  width: 3.125rem;
}

.trackInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  line-height: 1.05rem;
  max-width: 10rem;
  overflow: hidden;
}

.trackInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.trackInfoText {
  line-height: 1.15rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.trackInfoIconWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1rem;
  width: 1rem;
  margin-right: 0.15rem;
  color: var(--site-sub-text);
}

.trackInfoText svg {
  fill: var(--site-sub-text);
}
