.container {
  display: grid;
  grid-template-rows: 1rem auto;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--site-sub-text);
  text-align: right;
  margin-bottom: 0.75rem;
}

.tempContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tempWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.cityContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--site-main-text);
}

@media (max-width: 767.98px) {
  .tempWrapper {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
