.container {
  color: var(--site-main-text);
  padding: 1.5rem 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.primaryWidgetContainer {
  order: 1;
}

.secondaryWidgetContainer {
  order: 2;
}

.copyrightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: 600;
  font-family: "Panchang-Bold", sans-serif;
  order: 2;
}

.copyrightContainer span {
  width: 100%;
  text-align: center;
}

.mobileCopyrightContainer {
  display: none;
}

@media (max-width: 767.98px) {
  .container {
    display: unset;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid var(--section-borders);
    padding: 0;
    width: 100%;
  }

  .primaryWidgetContainer,
  .secondaryWidgetContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--section-borders);
  }

  .primaryWidgetContainer {
    order: 1;
    border-right: 1px solid var(--section-borders);
  }

  .secondaryWidgetContainer {
    order: 2;
  }

  .mobileCopyrightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    font-weight: 600;
    font-family: "Panchang-Bold", sans-serif;
    padding: 2rem 0;
  }

  .copyrightContainer {
    display: none;
  }
}
