.container {
  padding: 2.5rem 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
  /* max-width: 56rem; */
}

.header {
  color: var(--site-main-text);
  margin-bottom: 1rem;
}

.subheader {
  color: var(--site-sub-text);
}
