.container {
  padding: 2.5rem 0;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.header {
  color: var(--main-text);
  margin-bottom: 1rem;
}

.subheader {
  color: var(--sub-text);
}

@media (max-width: 767.98px) {
  .container {
    padding: 1.75rem 0;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
