.container {
  width: 100%;
  max-width: 75rem;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  padding: 0 2rem;
}

@media (max-width: 767.98px) {
  .container {
    flex-direction: column;
    padding: 0;
  }
}
