.container {
  max-width: 75rem;
  height: 100%;
  margin: 0px auto;
  padding: 0 2rem;
}

/* @media (min-width: 1280px) {
  .container {
    max-width: 71.25rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 60rem;
  }
} */

/* Tiny devices? lol */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
