/*
  Fade animation
*/
.fade-in {
  -webkit-animation: fade-in-down 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fade-in 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in-down 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fade-in-down 500ms ease-in-out;
}

/* Standard syntax */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Standard syntax */
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  -webkit-animation: fade-in-up 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fade-in-up 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Standard syntax */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-left {
  -webkit-animation: fade-in-left 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fade-in-left 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Standard syntax */
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-right {
  -webkit-animation: fade-in-right 500ms ease-in-out; /* Chrome, Safari, Opera */
  animation: fade-in-right 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/* Standard syntax */
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
