html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  background-color: #1E1E1E;
  color: #EFEFEF;
  margin: 0 auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

img {
  height: auto;
}
