html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #101215;
  color: #efefef;
  margin: 0 auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

img {
  height: auto;
}

::selection {
  background-color: #7000ff;
  color: #efefef;
}

.hljs {
  background-color: transparent !important;
  font-family: "IBM Plex Mono";
}

#nprogress .bar {
  background: #612df6 !important;
}

#nprogress .spinner {
  background: #612df6 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #bc89ff57, 0 0 5px #bc89ff57;
}
