.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  padding-left: 0.35rem;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  color: var(--site-sub-text);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerContainer img {
  height: 0.85rem;
  width: 0.85rem;
}

.headerContainer svg {
  fill: var(--green-main);
}

.trackInfoContainer {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.artworkWrapper {
  position: relative;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}

.artworkWrapper img {
  z-index: 1;
  border-radius: 0.5rem;
}

.artworkWrapper svg {
  z-index: 3;
  fill: var(--site-main-text);
}

.artworkWrapper:hover {
  cursor: pointer;
}

.playPauseContainer {
  z-index: 2;
  background-color: #10121545;
  position: absolute;
}

.trackInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  line-height: 1.05rem;
}

.trackInfoText {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.65rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.trackInfoIconWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1rem;
  width: 1rem;
  margin-right: 0.15rem;
}

.trackInfoText svg {
  fill: var(--site-sub-text);
}
