:root {
  /* General (stays the same between display styles) */
  --black: #0b0c0e;
  /* --black: #0a0a0c; */
  --black-alpha: #10121563;
  --white: #efefef;
  --purple-main: #7000ff;
  --purple-accent: #612df6;
  --purple-alpha: #bc89ff57;
  --green-main: #4bef11;

  /* Main background and text */
  --site-bg: #0b0c0e;
  /* --site-bg: #0a0a0c; */
  --site-main-text: #efefef;
  --site-sub-text: #98a3b3;
  --site-main-ph-text: #626973;
  --site-item-hover: #21262d;
  --site-item-hover-alpha: #21262d75;

  /* Chips */
  --site-chip-bg: #21262d;
  --site-chip-bg-hover: #0b0c0e;
  --site-chip-text-hover: #efefef;

  /* Borders */
  --section-borders: #21262d;
  --section-borders-alpha: #21262d26;

  /* Rules */
  --site-rule-hover: #0b0c0e;

  /* Code */
  --code-snippet-bg: #21262d45;
}

[data-display="light"] {
  /* Main background and text */
  --site-bg: #efefef;
  --site-main-text: #353535;
  --site-sub-text: #54535f;
  --site-main-ph-text: #626973;
  --site-item-hover: #c4cddb55;
  --site-item-hover-alpha: #c4cddb75;

  /* Chips */
  --site-chip-bg: #c4cddb55;
  --site-chip-bg-hover: #efefef;
  --site-chip-text-hover: #353535;

  /* Borders */
  --section-borders: #d5d5d5;
  --section-borders-alpha: #c4cddb26;

  /* Rules */
  --site-rule-hover: #d5d5d5;

  /* Code */
  --code-snippet-bg: #c4cddb45;
}
