:root {
  /* General (stays the same between display styles) */
  --black: #0b0c0e;
  --black-alpha: #10121563;
  --white: #efefef;
  --purple-main: #7000ff;
  --purple-accent: #612df6;
  --purple-alpha: #bc89ff57;
  --green-main: #4bef11;

  /* Main background and text */
  --background: #0b0c0e;
  --main-text: #efefef;
  --sub-text: #98a3b3;
  --text-shadow: #00000080;
  --placeholder-text: #626973;
  --item-hover: #21262d;
  --item-hover-alpha: #21262d75;
  --footer-background: #21262d52;

  /* Chips */
  --chip-background: #21262d;
  --chip-background-hover: #0b0c0e;
  --chip-text-hover: #efefef;

  /* Borders */
  --borders: #21262d;
  --borders-alpha: #21262d26;

  /* Rules */
  --rule-on-hover: #0b0c0e;

  /* Code */
  --code-snippet-background: #21262d45;
  --code-tag-background: #efefef;
  --code-tag-text: #0b0c0e;
}

[data-display="light"] {
  /* Main background and text */
  --background: #efefef;
  --main-text: #353535;
  --sub-text: #54535f;
  --text-shadow: #2323231f;
  --placeholder-text: #626973;
  --item-hover: #c4cddb55;
  --item-hover-alpha: #c4cddb75;
  --footer-background: #c4cddb55;

  /* Chips */
  --chip-background: #c4cddb55;
  --chip-background-hover: #efefef;
  --chip-text-hover: #353535;

  /* Borders */
  --borders: #d5d5d5;
  --borders-alpha: #c4cddb26;

  /* Rules */
  --rule-on-hover: #d5d5d5;

  /* Code */
  --code-snippet-background: #191919;
  --code-tag-background: #191919;
  --code-tag-text: #efefef;
}
